@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Micro+5+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "VisAgeOutline";
    src: url("fonts/visage-outline.otf") format("opentype");
}

@layer components {
    .custom-container {
        width: 100%;
    }
    @media (min-width: 640px) {
        .custom-container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .custom-container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .custom-container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .custom-container {
            max-width: 1280px;
        }
    }
    /* @media (min-width: 1536px) {
        .custom-container {
            max-width: 1536px;
        }
    } */

    .glassy-bg {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .gradient-color-one {
        background-image: linear-gradient(
            to right top,
            #051937,
            #004d7a,
            #008793,
            #00bf72,
            #a8eb12
        );
    }

    .gradient-green {
        background: linear-gradient(226.37deg, #bbd86d 0%, #41d9b5 100%);
    }

    .gradient-text-green {
        background: linear-gradient(226.37deg, #bbd86d 0%, #41d9b5 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero_title {
        font-weight: 900;
        line-height: 140px;
        text-transform: uppercase;
        color: #26302b;
    }

    .hero_span {
        background: linear-gradient(#23bfb8, #85ea80);
        background-clip: text;
        -webkit-text-stroke: 6px transparent;
        color: #f2f8f5;
        font-family: Poppins, sans-serif;
        font-weight: 900;
        line-height: 127px;
        text-transform: uppercase;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Custom CSS to style the scrollbar */
    .scroll-container::-webkit-scrollbar {
        width: 10px;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    /* CSS for Turf Single and Multiple Image Upload Start Here */

    /* .custom-upload-box {
        width: 300px;
        height: 200px;
    }

    .preview-image {
        max-width: 100px;
        max-height: 100px;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        display: block;
    }

    .file-label {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0.2rem;
    }

    .close-icon {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0.2rem;
    } */

    /* CSS for Turf Single and Multiple Image Upload End Here */
}
